.header{
    align-self: center;
    background: #0b132b;
}
.waves-effect{
    margin: 10px;
}

h3{
    text-align: center;
    color: lightgray;
}

.link-buttons{
    white-space: nowrap;
    text-align: center;
}

li{
    justify-content: center;
    display: inline-block;
    box-shadow: black;
}

a{
    color: lightgray;
}

a:hover{
    background: rgba(0, 0, 0, 0) !important;
}