<footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5>Footer</h5>
          <p>Footer content</p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5>Links</h5>
          <ul>
            <li><a  href="#!">About Us</a></li>
            <li><a  href="#!">Contact</a></li>
            <li><a  href="#!">Terms and conditions</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      © 2020 Copyright Technocrats
      <a class="grey-text text-lighten-4 right" href="#!">Social media handles</a>
      </div>
    </div>
  </footer>
