<footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5>Please consider filling this feedback form after exploring the portal</h5>
          <p><a style="color: rgb(73, 73, 245);" href="https://forms.gle/AdVkfqPdwRnxLRVE8" target="_blank">Portal Feedback</a></p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5>Links</h5>
          <ul>
            <li><a  href="#!">About Us (WIP)</a></li>
            <li><a  href="#!">Contact (WIP)</a></li>
            <li><a  href="#!">Terms and conditions (WIP)</a></li>
            <li><a  [routerLink]="['/faq-page']">FAQ</a></li>

          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      © 2020 Copyright Technocrats
      <!-- <a class="grey-text text-lighten-4 right" href="#!">Social media handles</a> -->
      </div>
    </div>
  </footer>
