<div class="row" >
    <div class="col s8 offset-s2">
        <div class="card darken-1" *ngFor="let question of data.Question_list" >
          <div class="card_content white_text"  >
            <!-- <span class="card-title">Q.</span> -->
            <!-- <span>{{question.id}}</span> -->
           <p>Q. {{question.Question_text}}</p>
          </div>
          <div class="card_action white white-text">
            <ul class="collection answer">
              <ng-container *ngFor ="let answer of question.Question; let i = index">
               <li>
                <label>
                  <input name="selected_answer" type="radio" class="with-gap" name={{question.id}} (change) = "onChange(answer.Weightage , answer.id, answer.from_Domain)"
                  (click)="Answer(answer.Weightage, answer.from_Domain, answer.id)" value="answer.id"/>
                  <!-- <span>{{answer.id}}</span> -->
                  <span>{{answer.Answer_text}}</span>
                </label>
               </li> 
              </ng-container>
            </ul>
          </div>
        </div>
    </div>
</div>
<div class="row">
  <div class="input-field col s12">
    <button class="btn-large" type="submit" name="action" (click)="Answers()">
      <p>Proceed to next round<i class="material-icons right">send</i></p>
    </button>
  </div>
</div>