<div class="row">
    <h4>Find all jobs here:</h4>

    <div class="col s12 ">
        <div class="nav-wrapper">
            <form>
              <div class="input-field">
                <input id="search" [(ngModel)] = "query" name="query" type="search" required (keyup)="applyFilter($event.target.value)" placeholder="Search..">
                <label class="label-icon" for="search"><i id="search-icon" class="material-icons">search</i></label>
                <i id="cross" class="material-icons" (click)="clear()">close</i>
              </div>
            </form>
          </div>
        <!-- <div class="search-filter">
            Search companies:<br>
            <mat-form-field class="filter">
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="">
            </mat-form-field>
        </div> -->
        <div class="card blue-grey darken-1" *ngFor="let result of data.data" >
            <div class="card-content white-text">
                <span class="card-title">Job ID: {{result.id}}</span>
                <p style="text-shadow: 1px 2px 2px #CE5937;" ><strong>Posted By: {{result.Name}}</strong></p>
                <p style="text-shadow: 1px 2px 2px #CE5937;" ><strong>Role: {{result.job_title}}</strong></p>
                <p><strong>Description : </strong>{{result.Job_Descreption}}</p>
                <p><strong>Minimum experience : </strong>{{result.Minimum_experience}}</p>
                <p><strong>Available at : </strong>{{result.prefered_city}}</p>
                <!-- <p><strong>Id: </strong>{{result.id}}</p> -->
            </div>
            <div class="apply-btn">
            <button class="btn waves-effect waves-light" type="submit" name="action" (click) = "onSubmit(result.id)">
                Apply for this job<i class="material-icons right">send</i>
            </button>
            </div>
        </div>
    </div>
</div>

