<div class="row">
    <div class="col s12 ">
        <div class="card blue-grey darken-1" >
            <div class="card-content white-text">
                <span class="card-title">Jobs Recomendation</span>
                <p><strong>{{data.Name}}</strong></p>
                <p><strong>Description : </strong>{{data.Address}}</p>
                <p><strong>Minimum experience : </strong>{{data.Email}}</p>
                <p><strong>Available at : </strong>{{data.City}}</p>
                <p><strong>Available at : </strong>{{data.State}}</p>
                <p><strong>Available at : </strong>{{data.Registration_no}}</p>
                <p><strong>Available at : </strong>{{data.website}}</p>


            </div>
        </div>
    </div>
</div>

