<div class="navbar-fixed">
    <nav class="blue-grey">
      <div class="nav-wrapper">
        <a [routerLink] = "['/quiz']" class="brand-logo"><img src="https://banner2.cleanpng.com/20180324/hrw/kisspng-steve-jobs-stay-hungry-stay-foolish-apple-worldwid-steve-jobs-5ab68b3a16ea91.4178725515219126340939.jpg" alt="Logo"/></a>
        <ul class="right hide-on-med-and-down">
          <!-- <li><a [routerLink]="['/signup']">SignUp as Organisation</a></li>
          <li><a [routerLink]="['/candidate']">SignUp as Candidate</a></li> -->
          <!-- <li><a [routerLink]="['/organ']">Create profile as organisation</a></li> -->
          <li><a [routerLink]="['/home']">Home</a></li>
          <li *ngIf = "checkIfOrganization() && checkifLoggedIn()"><a [routerLink]="['/jobForm']" *ngIf = "isOrganization">Create Job</a></li>
          <!-- <li *ngIf = "checkIfCandidate()"><a [routerLink]="['/jobapply']" *ngIf = "isCandidate">Apply for job</a></li> -->
          <li *ngIf = "checkIfCandidate() && checkifLoggedIn()"><a [routerLink]="['/jobsearch']" *ngIf = "isCandidate">Job Search</a></li>
          <li *ngIf = "checkifLoggedIn()"><a (click)="getAppliedJobs()">Applied Jobs</a></li>
          <li *ngIf = "!checkifLoggedIn()"><a [routerLink]="['/profiles']">Sign Up</a></li>
          <!-- <li><a [routerLink]="['/create']">Create profile as Candidate</a></li> -->
          <li *ngIf = "!checkifLoggedIn()"><a [routerLink] = "['/login']">Log In</a></li>
          <li *ngIf = "checkifLoggedIn()"><a (click)="Logout()">Logout</a></li>
          <!-- <li *ngIf = "checkifLoggedIn()"><a (click)="goToProfile()">Profile</a></li> -->

        </ul>
      </div>
    </nav>
</div>
  
<div class="row">
  <div class="input-field col s12 offset-s1">
    <!-- <button class="btn-large waves-effect waves-light" type="submit" name="action" [routerLink]="['/signup']">SignUp as Organisation
    </button>
    
    <button class="btn-large waves-effect waves-light" type="submit" name="action" [routerLink]="['/candidate']" >SignUp as Candidate
    </button>
    
    <button class="btn-large waves-effect waves-light" type="submit" name="action" [routerLink]="['/organ']" >create profile as organisation
    </button>
    
    <button class="btn-large waves-effect waves-light" type="submit" name="action" [routerLink]="['/jobForm']">find a job
    </button>
    
    <button class="btn-large waves-effect waves-light" type="submit" name="action" [routerLink]="['/create']">create profile as Candidate
    </button> -->
  </div>
</div>
