.nav-wrapper{
    /* background-color: #222A68; */
    /* background-image: linear-gradient(315deg, #3bb78f 0%, #0bab64 74%); */
    background: #0b132b;
    margin-bottom: 10px;
    display: flex;
}

img{
    height: 65px;
    width: 150px;
}

.beta-vers{
  margin-left: 15%;
  color: lightgray;
}

.right{
  margin-left: auto;
}

a{
    color: #000000	;
}

p{
  color: lightgray;
}

.row{
    margin-bottom: 0px;
}

.navbar {
    overflow: hidden;
    background-color: #333;
    font-family: Arial;
  }
  
  /* Links inside the navbar */
  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  ul {
    border: lightgray 1px solid;
    border-radius: 10px;
  }

  ul li {
    border-inline-end: lightgray 1px solid;
    border-radius: 10px;
    color: lightgray;
  }

  ul li a{
    color: lightgray;
  }
  
  /* The dropdown container */
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  /* Dropdown button */
  .dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
  }
  
  /* Add a red background color to navbar links on hover */
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: red;
  }
  
  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  /* Add a grey background color to dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }


  /* sidenav css starts */
  .feature-sidenav {
    height: 500px !important;
    margin-left: 0px !important;
    left: 0px !important;
}

.example-app-name{
    margin-top: 20px;
}

.example-toolbar{
    margin-top: 394px;
    left: 0px;
    height: 85px;
    background-color: #505464;
    width: 10px;
    padding-left: 12px;
}

.example-container {
    height: 575px;
    left: 0px !important;
  }

  .example-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
  }

  .example-sidenav {
     user-select: none;
     padding-top: 0px;
  }

  .full-width {
    width: 100%;
  }

  .menu-button {
    transition: 300ms ease-in-out;
    transform: rotate(0deg);
  }

  .menu-button.rotated {
    transform: rotate(180deg);
  }

  .submenu {
    overflow-y: hidden;
    transition: transform 300ms ease;
    transform: scaleY(0);
    transform-origin: top;
    padding-left: 30px;
  }
  
  .submenu.expanded {
    transform: scaleY(1);
  }