<div class="navbar-fixed">
    <nav class="blue-grey">
      <div class="nav-wrapper">
        <a href="#!" class="brand-logo">Logo</a>
        <ul class="right hide-on-med-and-down">
          <li><a [routerLink]="['/signup']">SignUp</a></li>

          <li><a [routerLink]="['/login']">LogIn </a></li>
          <li>
            <a (click)="Logout()">Logout</a>
          </li>
        </ul>
      </div>
    </nav>
</div>

<!--div class="row">
  <div class="input-field col s12 offset-s1">
    <button class="btn-large waves-effect waves-light" type="submit" name="action" [routerLink]="['/signup']">SignUp as Organisation
    </button>
    <button class="btn-large waves-effect waves-light" type="submit" name="action" [routerLink]="['/candidate']" >SignUp as Candidate
    </button>
    <button class="btn-large waves-effect waves-light" type="submit" name="action" [routerLink]="['/organ']" >create profile as organisation
    </button>
    <button class="btn-large waves-effect waves-light" type="submit" name="action" [routerLink]="['/jobForm']">find a job
    </button>
    <button class="btn-large waves-effect waves-light" type="submit" name="action" [routerLink]="['/create']">create profile as Candidate
    </button>
  </div>
</div-->