p {
    color: #000000;
    padding: 0px;
    margin-top: auto;
    margin-bottom: auto;
}

.btn-large{
    background-color: #3bb78f;
    background-image: linear-gradient(315deg, #3bb78f 0%, #0bab64 74%);
    color: black;
}

.row{
    margin-left: auto;
}