<div class="row">
    <div class="col s8 offset-s2">
      <div class="card">
        <div class="sm-jumbotron center-align">
          <h2>User Login</h2>
        </div> 
<div *ngIf="isLoginError" class="red-text center error-message">
    <i class="material-icons">error</i> Incorrect username or password
</div>
<form #loginForm="ngForm" class="col s12 white" (ngSubmit)="OnSubmit(username.value,password.value)">
   <div class="row">
     <div class="input-field col s12">
       <i class="material-icons prefix">account_circle</i>
       <input type="text" #username ngModel name="username" placeholder="username" required>
     </div>
   </div>
   <div class="row">
      <div class="input-field col s12">
        <i class="material-icons prefix">vpn_key</i>
        <input type="password" #password ngModel name="password" placeholder="Password" required>
      </div>
    </div>
    <div class="row">
        <div class="input-field col s12">
          <button [disabled]="!loginForm.valid" class="btn-large btn-submit" type="submit">Login</button>
        </div>
      </div>
</form>

</div>
</div>
</div>