.mat-tab-group {
    margin-bottom: 48px;
    /* margin-left: 30%; */
  }

.btn-large{
    background-color: #3bb78f;
    background-image: linear-gradient(315deg, #3bb78f 0%, #0bab64 74%);
    margin-left: 475px;
}


.btn-txt{
    display: contents;
}

.rating{
    margin-left: 38%;
}