p {
    color: #000000;
    padding: 0px;
    margin-top: auto;
    margin-bottom: auto;
}

.card-panel{
    background: linear-gradient(to top, #8e0e00, #1f1c18);
}

.btn-large{
    background: linear-gradient(to top, #8e0e00, #1f1c18);
    color: black;
    margin-top: 50px;
    width: 100%;
}

.btn-hide{
    background: linear-gradient(to top, #8e0e00, #1f1c18);
    color: lightgray;
    margin-top: 150px !important;
    width: 100%;
}

.btn-submit{
    background: linear-gradient(to top, #8e0e00, #1f1c18);
    color: lightgray;
}

.btn-submit:hover{
    background: linear-gradient(to top, #8e0e00, #1f1c18) !important;
    cursor: pointer;
}

.btn-hide:hover{
    background: linear-gradient(to top, #8e0e00, #1f1c18) !important;
    cursor: pointer;

}

input{
    margin-bottom: 10px;
    color: lightgray;
}

img{
    width:50px;
    height:50px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.col{
    text-align: center;
    float: none;
    margin: auto;
}

.preview{
    display: flex;
}
