p {
    color: #000000;
    padding: 0px;
    margin-top: auto;
    margin-bottom: auto;
}

.btn-large{
    background-color: #3bb78f;
    background-image: linear-gradient(315deg, #3bb78f 0%, #0bab64 74%);
    color: black;
}

input{
    margin-bottom: 10px;
}

img{
    width:50px;
    height:50px;
    margin-right: 10px;
    margin-bottom: 10px;
}
