<div class="row">
    <div class="col s8 offset-s2">
      <!-- <div class="card">
        <div class="sm-jumbotron center-align"> -->
          <h2>Organisation Form</h2>
        <!-- </div> -->
          <form class="form-style-9" #createForm="ngForm" (ngSubmit)="OnSubmit(createForm)">
            <div class="row">
              <div class="input-field col s6"> 
                <i class="material-icons prefix">account_circle</i>
                <input type="text" class="field-style field-split" name="Name" #Name="ngModel" [(ngModel)]="organ.Name"  required placeholder="Name">
              </div>
              <div class="input-field col s6">
                <i class="material-icons icon-image-preview prefix">home</i>
                  <input class="field-style field-split" type="text" name="Address" #Address="ngModel" [(ngModel)]="organ.Address" required  placeholder="Address">
              </div>
            </div>
            <div class="row">
                <div class="input-field col s6"> 
                  <i class="material-icons icon-image-preview prefix">location_city</i>
                  <input type="text" class="field-style field-split" name="City" #City="ngModel" [(ngModel)]="organ.City"  required placeholder="City">
                </div>
                <div class="input-field col s6">
                  <i class="material-icons icon-image-preview prefix">location_city</i>
                    <input class="field-style field-split" type="text" name="State" #State="ngModel" [(ngModel)]="organ.State" required  placeholder="State">
                </div>
            </div>
            
            <div class="row">
                <div class="input-field col s6"> 
                  <i class="material-icons prefix">email</i>
                  <input type="text" class="field-style field-split" name="Email" #Email="ngModel" [(ngModel)]="organ.Email" [pattern]="emailPattern" required placeholder="Email">
                </div>
                <div class="input-field col s6">
                  <i class="material-icons prefix">how_to_reg</i>
                    <input class="field-style field-split" type="text" name="Registration_no" #Registration_no="ngModel" [(ngModel)]="organ.Registration_no" required  placeholder="Registeration Number (GSTIN)">
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12"> 
                  <i class="material-icons prefix">link</i>
                  <input type="url" class="field-style field-split" name="website" #website="ngModel" [(ngModel)]="organ.website" required placeholder="Website URL">
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                  
                  <button [disabled]="!createForm.valid" class="btn-large btn-submit" type="submit">Create My Profile As Organisation</button>
                </div>
            </div>
          </form>
      <!-- </div> -->
    </div>
  </div>