<div class="row">
    <div class="col s8 offset-s2">
      <div class="card">
        <div class="sm-jumbotron center-align">
          <h2>Apply for job</h2>
        </div>
        <form class="col s12 white" #createForm="ngForm" (ngSubmit)="OnSubmit(createForm)">
            <div class="row">
                <div class="input-feild col s6"> 
                    <input type="text" class="validate" name="job_title" #job_title="ngModel" [(ngModel)]="apply.proposal"  required placeholder="Describe what makes you suitable for this job">
                </div>
            </div>
            
            <div class="row">
                <div class="input-field col s12">
                  <button [disabled]="!createForm.valid" class="btn-large btn-submit" type="submit">
                      <p>Apply now!</p>
                  </button>
                </div>
            </div>
        </form>
      </div>
    </div>
</div>