<div class="main">
    <div class="header">
        <div class="all-txt">
            <div class="title-txt">Jobs For You</div>
            <div class="tagline">
                <div class="tagline-txt">Find your next dream job at
                    <div class="gif-container">
                    <img class="gif" src="../../assets/image/ezgif.com-resize.gif" alt="companies">
                    </div>
                </div>
                <!-- <div>
                    <img class="gif" src="../../assets/image/ezgif.com-resize.gif" alt="companies">
                </div> -->
            </div>
        </div>
        <div class="all-btn">  
            <div class="btn">
                <a class="btn-txt" [routerLink]="['/instructions']">Take Quiz</a>
            </div>
            <div class="btn">
                <a class="btn-txt" [routerLink]="['/profiles']">Create Profile</a>
            </div>
            <div class="btn">
                <a class="btn-txt" [routerLink]="['/login']">Login</a>
            </div>
        </div>
    </div>
    
    <div class="img">
        <img src="../../assets/image/f1.gif" alt="job-pic">
    </div>
    
     
</div>



