.header{
    align-self: center;
    background: linear-gradient(to bottom, #000428, #004e92);;
}
.waves-effect{
    margin: 10px;
}

h2, h4{
    text-align: center;
    color: lightgray;
}

.link-buttons{
    white-space: nowrap;
    text-align: center;
}

li{
    justify-content: center;
    display: inline-block;
    box-shadow: black;
}

a{
    color: lightgray;
}

a:hover {
    background-color: rgba(0, 0, 0, 0) !important;
}