<div class="header">
    <h2>Job recommender.</h2>
    <h4>Find Jobs. Smarter.</h4>
    <ul class="link-buttons">
        <li><a class="waves-effect waves-light btn-large" [routerLink]="['/quiz']"><i class="material-icons right">chevron_right</i>Take quiz</a></li>
        <li><a class="waves-effect waves-light btn-large" [routerLink]="['/profiles']"><i class="material-icons right">fingerprint</i>Create profile</a></li>
        <li><a class="waves-effect waves-light btn-large" [routerLink]="['/login']" ><i class="material-icons right">mood</i>Login</a></li>
    </ul>
</div>

<div class="footer">
</div>